<!-- Modal -->
<div
  class="modal fade"
  id="postEditModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Post</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" id="post_edit_form">
            <input class="post_id" type="hidden" name="post_id">
            <div class="mb-3">
                <textarea name="post" class="post-text" rows="5"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>