<div class="container mt-5">
    <form method="post" action="user/edit">
        <!-- <div class="mb-3">
            <input type="file" class="form-control" name="uploaded_file">
        </div> -->
        <input type="text" class="form-control" id="user_id" name="user_id" value="<%= typeof user !== 'undefined' && user !== null ? user.id : '' %>">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="<%= typeof user !== 'undefined' && user !== null ? user.username : '' %>">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= typeof user !== 'undefined' && user !== null ? user.email : '' %>">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>