<form class="mb-5" id="post_form">
    <div class="mb-3">
        <textarea class="form-control" name="post" cols="30" rows="5" placeholder="Write..." required></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Publish Post</button>
</form>